<div>
    <h2 id="page-heading">
        <span jhiTranslate="arboxApp.arbComment.home.title">Arb Comments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-arb-comment-my-suffix" [routerLink]="['/arb-comment-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="arboxApp.arbComment.home.createLabel">
            Create a new Arb Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="arbComments?.length === 0">
        <span jhiTranslate="arboxApp.arbComment.home.notFound">No arbComments found</span>
    </div>
    <div class="table-responsive" *ngIf="arbComments?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="arboxApp.arbComment.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span jhiTranslate="arboxApp.arbComment.content">Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isSolution"><span jhiTranslate="arboxApp.arbComment.isSolution">Is Solution</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ticketId"><span jhiTranslate="arboxApp.arbComment.ticket">Ticket</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ownerId"><span jhiTranslate="arboxApp.arbComment.owner">Owner</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let arbComment of arbComments ;trackBy: trackId">
                <td><a [routerLink]="['/arb-comment-my-suffix', arbComment.id, 'view' ]">{{arbComment.id}}</a></td>
                <td>{{arbComment.date | date:'medium'}}</td>
                <td>{{arbComment.content}}</td>
                <td>{{arbComment.isSolution}}</td>
                <td>
                    <div *ngIf="arbComment.ticketId">
                        <a [routerLink]="['/arb-ticket-my-suffix', arbComment.ticketId , 'view' ]" >{{arbComment.ticketId}}</a>
                    </div>
                </td>
                <td>
                    {{arbComment.ownerId}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/arb-comment-my-suffix', arbComment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/arb-comment-my-suffix', arbComment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/arb-comment-my-suffix', { outlets: { popup: arbComment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="arbComments?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
