<div class="row justify-content-center d-flex">
    <div class="col-md-8">


        <form #loginForm = "ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="container pt-3">
                <div class="row align-items-center justify-content-center ">
                    <div class="col-lg-8 col-md-10 pt-3 title">
                        <h2>The best app to find</h2>
                        <h2>solution for your issue</h2>
                    </div>
                    <div class="col-lg-8 col-md-10 pt-3">
                        <input type="email" class="form-control" name="username" ngModel  placeholder="Mail" required="">
                    </div>
                    <div class="w-100"></div>
                    <div class="col-lg-8 col-md-10 pt-3">
                        <input type="password" class="form-control" name="password" ngModel placeholder="Password" required="">
                    </div>
                    <div class="w-100"></div>
                    <div class="col-lg-8 col-md-10 pt-3  justify-content-center d-flex">
                        <button type="submit" class="btnn btn-black" [disabled]="loginForm.invalid">Login</button>
                    </div>
                    <div class="col-lg-8 col-md-10 pt-3 justify-content-center d-flex">
                        <h4 style="color:black">
                            or
                        </h4>
                    </div>
                    <div class="col-lg-8 col-md-10 pt-3 justify-content-center d-flex">
                        <a routerLink="/arb/register" class="text-link">Signup</a>
                    </div>
                    <div class="alert alert-danger text-center col-lg-7 col-md-10 mt-3" style="border-radius: 30px" *ngIf="authenticationError">
                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
