<p class="lead" id="ticket_list_header">{{activeLinkName}}</p>
<table class="table" id="ticket-list-table">
    <thead>
    <tr>
        <th class="first-left" scope="col"></th>
        <th scope="col">Subject</th>
        <th scope="col">Reporter</th>
        <th scope="col">Creating</th>
        <th scope="col">Assignee</th>
        <th class="first-right" scope="col">Priority</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tick of ticketList; index as i;">
        <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td>
        <td class="td-for-link" data-label="Subject">
            <a routerLink="/arb/ticket/detail/{{tick.id}}">{{tick.subject}}</a>
        </td>
        <td data-label="Reporter">{{tick.ownerUsername}}</td>
        <td data-label="Creating">{{tick.date | date:'longDate'}}</td>
        <td data-label="Assignee">{{tick.assigneeUsername}}</td>
        <td data-label="Priority" [ngSwitch]="tick.priority">
            <span *ngSwitchCase="priority.High" class="badge badge-pill badge-danger">
                {{priority.High}}
            </span>
            <span *ngSwitchCase="priority.Medium" class="badge badge-pill badge-primary">
                {{priority.Medium}}
            </span>
            <span *ngSwitchCase="priority.Low" class="badge badge-pill badge-secondary">
                {{priority.Low}}
            </span>
        </td>
    </tr>
    <tr class="tfoot">
        <td colspan="6">
            <div [hidden]="ticketList?.length == 0">
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                    (pageChange)="loadPage(page)">
                    </ngb-pagination>
                </div>
            </div>
            <h6 *ngIf="ticketList?.length == 0" class="text-center">Empty</h6>
        </td>
    </tr>
    </tbody>
</table>
