<jhi-create-comment *ngIf="ticket?.state" [ticketId]="ticket.id"
                    [doIhaveAuthorityToResolve]="ticket.ownerId === commentService.account.id || ticket.assigneeId === commentService.account.id"
                    (commentCreated)="commentCreated($event)"></jhi-create-comment>

<div class="container">
    <div class="row col-12">
        <h3>
            <p>{{comments?.length ? comments.length : "No"}} Answer</p>
        </h3>
    </div>
    <div class="row mt-2" *ngFor="let comment of comments;">
        <div class="col-12 mb-3">
            <hr style="border-top:1px dashed white">
        </div>
        <div class="col-2" style="padding-right: 0">
            <img *ngIf="comment.isSolution" src="../img/solution-icon.png"
                 style="width: 85%">
            <img *ngIf="!comment.isSolution" src="../img/comment-icon.png"
                 style="width: 85%">
        </div>
        <div class="col-10 pl-3">
            <h5>{{comment.ownerUsername}}</h5>
            <p class="position-relative pt-2" style="top:-14px; font-size: 14px">{{comment.date | date:'medium'}}</p>
            <p class="text-justify">{{comment.content}}</p>
        </div>
    </div>
</div>
<div #lastComment></div>
<div class="justify-content-end d-flex" *ngIf="comments?.length > 3">
    <i class="fa fa-arrow-circle-up" onclick="window.scrollTo({ behavior: 'smooth', top: 0 })"></i>
</div>
